@import 'includes.scss';
.app.cover{
  .info-tab-header{
    max-width: 5000px;
    width: 100%;
    height: 100%;
    filter: none;
  }

  .info-tab-content{
    display: none;
  }

  .avatar-container:before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid #11d3e4;
    transform: translate(-50%, -50%) translateZ(0);
    animation: wave 4s cubic-bezier(0.6, 0.02, 0.38, 0.98) 0s infinite;
  }
}

@keyframes wave{
  0%{
    width: $bg-avatar-size;
    height: $bg-avatar-size;
    border-radius: $bg-avatar-size;
    opacity: 1;
  }
  100%{
    width: 20*$bg-avatar-size;
    height: 20*$bg-avatar-size;
    border-radius: 20*$bg-avatar-size;
    opacity: 0;
  }
}
