@import 'includes.scss';

a{
  text-decoration: none;
  color: $base-gray;
  transition: opacity .3s ease;
  &:hover{
    opacity: 0.5;
  }
}

body{
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  height: 100%;
  width: 100%;
  min-height: 800px;

  @media only screen and (min-device-width: 450px) and (max-device-width: 1000px){
    &{
      width: 1000px;
    }
  }
}

*{
  @include main-font;
}

::selection {
  background: rgba(255, 137, 0, 0.72);
  color: #eee;
}
