@import 'variable.scss';

body{
  height: 3000px;
}
header{
  position: relative;
  width: 100%;
  height: 100px;

  .avatar{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-image: url('../images/avatar.png');
    background-size: cover;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0,0,0,.4);

    &:hover{
      transform: background-image 0.5s;
      background-image: url('../images/avatar-open.png');
    }
  }
}
