@import 'variable.scss';
@import 'style.scss';

$header-height: 450px;
$bg-avatar-size: 150px;
$bg-avater-inner-size: $bg-avatar-size * 0.9;
$info-tab-width: 40%;
body{
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  height: 2000px;
}

*{
  @include main-font;
}

.info-tab{
  width: $info-tab-width;
  height: 100%;
  background-color: $darken-bg-color;
}
.info-tab-header{
  font-weight: bold;
  position: fixed;
  width: $info-tab-width;
  height: $header-height;
  color: $base-gray;
  min-width: 250px;
  background-color: $main-color;

  &:before{
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: 90px;
    background: linear-gradient(to right bottom, $main-color 50%, transparent 50%);
  }

  .name-box{
    @include horizontal-center;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom: 20%;

    h1{
      @include title-font;
      font-weight: bold;
      margin-top: 0;
      padding-top: 30px;
    }

    h3{
      @include title-font;
      font-weight: normal;
    }
  }

  .avatar-container{
    @include horizontal-center;
    top: 20%;
    width: $bg-avatar-size;
    height: $bg-avatar-size;
    background-image: url('../images/avatar.png');
    background-size: cover;
    border-radius: $bg-avatar-size;

    .avatar{
      @include content-center;
      width: $bg-avater-inner-size;
      height: $bg-avater-inner-size;
      background-image: url('../images/avatar.png');
      background-size: $bg-avatar-size / $bg-avater-inner-size * 100%;
      background-position: center;
      border-radius: $bg-avater-inner-size;
      border: ($bg-avatar-size - $bg-avater-inner-size) * 0.25 solid $main-color;
      box-sizing: content-box;

      &:hover{
        transition: border-width 0.3s ease;
        border-width: ($bg-avatar-size - $bg-avater-inner-size) * 0.55;
        background-image: url('../images/avatar-open.png');
      }
    }

    &:hover{
      transform: background-image 0.5s;
      background-image: url('../images/avatar-open.png');
    }
  }
}
