@import 'includes.scss';

$line-color: #c7c7c7;
pre{
  color: $base-gray;
  white-space: normal;
  letter-spacing: 0.1em;

  iframe{
    width: 1000px;
    height: 600px;
    max-width: 100%;
  }

  img{
    max-width: 80%;
    margin-top: 30px;
    margin-left: -20px;
    display: block;
  }

  a{
    &:after{
      font-family: "fontello";
      content: '\e803';
      transform: scale(0.5) translate(-50%, -50%);
      display: inline-block;
    }
  }


  p, ul, h1, h2, h3, h4, h5{
    margin: 0;
    vertical-align: middle;
  }

  h1, h2, h3, h4, h5{
    @include title-font;
    line-height: 35px;
    *{
      @include title-font;
    }
  }

  h5{
    display: inline-block;
    float: right;
    margin: 7.5px 0;
    line-height: 20px;
    margin-right: 15px;
    color: #e9e9e9;
    background-color: #6b6b6b;
    padding: 0 5px;
  }

  p{
    margin: 10px 0;
    letter-spacing: 1px;
    font-size: 12px;
  }

  h4{
    display: inline-block;
  }

  h2{
    display: inline-block;
    code {
      background: #00ccd8;
      padding: 0 5px;
    }
  }

  ul{
    position: relative;
    padding-left: 20px;
    list-style: none;

    li{
      font-size: 14px;
      letter-spacing: 0.5px;
      @include title-font;

      &:before{
        font-family: "fontello";
        content: '\f105';
        left: 5px;
        line-height: 19px;
        position: absolute;
      }
    }
  }

  strong>em{
    font-weight: bold;
    font-style: normal;
    color: $support-color;
  }

  hr{
    border: none;
    border-top: 2px solid $line-color;
    position: relative;
    margin: 30px 0;

    &:before{
      border-top: 10px solid $line-color;
      border-left: 10px solid transparent;
      content: '';
      position: absolute;
      right: 0;
    }
  }

  strong{
    code{
      background-color: #c0c2c5;
      padding: 2px 5px;
      border-radius: 3px;
    }
  }
  @media only screen and (max-device-width: $mobile-max-width), only screen and (max-width: $mobile-max-width){

    img{
      max-width: 100%;
    }

    h2, h3, h4{
      color: $bg-color;
    }

    h5{
      display: block;
      text-align: center;
      float: initial;
    }
    p, li{
      color: darken($bg-color, 10%);
      display: block;
    }

    hr{
      border-top: 2px dashed $line-color;
      &:before{
        display: none;
      }
    }

    strong{
      code{
        color: $darken-bg-color;
        display: inline-block;
        line-height: 17px;
      }
    }
  }

  .extra {
    img, video {
      margin: 0;
      display: inline-block;
    }
  }
  .morph-gallary {
    img {
      max-height: 350px;
    }
    video {
      max-height: 350px;
    }
  }
}

