@import './variable.scss';

@mixin content-center{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%)
}

@mixin horizontal-center{
  position: absolute;
  left:50%;
  transform: translateX(-50%);
}

@mixin vertical-center{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

@mixin title-font{
  font-family: 'Raleway', sans-serif;
}

@mixin subtitle-font{
  font-family: 'Bitter', serif;
}
@mixin main-font{
  font-family: 'Open Sans', sans-serif;
}

@function gray($percent: 0){
  @return lighten($base-gray, $percent);
}

@mixin info-tab-width-control{
  width: $info-tab-width;
  max-width: $tab-max-size;
  min-width: 250px;

  @media only screen and (max-device-width: 450px), only screen and (max-width: 450px){
    &{
      width: 100%;
    }
  }

  @media only screen and (max-device-width: 370px), only screen and (max-width: 370px){
    &.info-tab-header{
      height: $header-height * 1.3;
    }
    & .info-tab-content{
      padding-top: $header-height * 1.3 + 110px;
    }
  }
}
