$icon-font-path: '../fonts/';
$main-color: rgb(49, 170, 181);
$support-color: #3189b5;
$bg-color: rgb(233, 233, 233);
$darken-bg-color: rgb(45, 50, 56);
$base-gray: #292929;


$header-height: 260px;
$bg-avatar-size: 100px;
$bg-avater-inner-size: $bg-avatar-size * 0.9;
$info-tab-width: 40%;

$tab-max-size: 440px;
